@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    outline-color: #111827;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html {
    --s: 600px; /* control the size */
    --c1: #111827;
    --c2: #0b101a;
    
    --_g: var(--c1) 90deg,var(--c2) 0 135deg,#0000 0;
    background:
      conic-gradient(from  -45deg at calc(100%/3)   calc(100%/3)  ,var(--c1) 90deg,#0000 0 ),
      conic-gradient(from -135deg at calc(100%/3)   calc(2*100%/3),var(--_g)),
      conic-gradient(from  135deg at calc(2*100%/3) calc(2*100%/3),var(--_g)),
      conic-gradient(from   45deg at calc(2*100%/3) calc(100%/3)  ,var(--_g),var(--c1) 0 225deg,var(--c2) 0);
    background-size: var(--s) var(--s);
  }

input[type='range'] {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #7c3aed;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #7c3aed;
        cursor: pointer;
    }

    &::-ms-thumb {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #7c3aed;
        cursor: pointer;
    }

    &:hover {
        background: #111827;

        &::-webkit-slider-thumb {
            background: #fff;
        }

        &::-moz-range-thumb {
            background: #fff;
        }

        &::-ms-thumb {
            background: #fff;
        }
    }
}

@layer base {
    h1 {
      @apply text-h1-mobile;
    }
    h3 {
      @apply text-h3-mobile;
    }
    h5 {
      @apply text-h5-mobile;
    }
    p {
      @apply text-p-mobile;
    }
  
    @screen lg {
      h1 {
        @apply text-h1-desktop;
      }
      h3 {
        @apply text-h3-desktop;
      }
      h5 {
        @apply text-h5-desktop;
      }
      p {
        @apply text-p-desktop;
      }
    }
  }